.itemss{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

/* make services responsive */
@media only screen and (max-width:576px) {
    .itemss{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .itemss{
        grid-template-columns: repeat(2, 1fr);
    }
}

.manage-items a{
    margin: auto;
}









.manage-items-btn{
    justify-content: center;
    margin: 10px 1px;
    padding: 10px 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 1.5rem;
    color: blue;
}

.manage-items-btn:hover{
    justify-content: center;
    margin: 10px 1px;
    padding: 10px 10px;
    background-color: rgb(221, 221, 221);
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 1.5rem;
    color: blue;
}